table {
  border: 1px solid #000;
  border-collapse: collapse;
}

thead tr th {
  border:1px solid #000;
  background-color: aquamarine;
}

tbody tr td {
  border:1px solid #000;
  padding:4px;
  background-color: white;
}